name: Build
on:
  workflow_dispatch:

  push:
    branches:
      - main

  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          # intentionally don't set it to "recursive" as zsa's submodules are
          # managed via their Makefile.
          submodules: true

      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.5

      - uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.11.x"

      - name: install CI python deps
        run: uv pip sync --system .github/requirements.txt

      - name: build keymap
        run: make build

      - uses: actions/upload-artifact@v5.0.0
        with:
          name: zsa_moonlander_mcoding.bin
          path: zsa_firmware/.build/zsa_moonlander_mcoding.bin
          retention-days: 3
